$mainColor: #000;
$mainFonts: 'Poppins', sans-serif;
%buttonRadius {
  border-radius: 50%;
  border: #fff;
}
%btnStyle {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 31px;
  height: 31px;
  border: 1px #fff solid;
  border-radius: 50%;
  opacity: 0.75;
  transition: border-color 0.25s linear, box-shadow 0.25s linear;
}
