%headerRules {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.homepage-header {
  @extend %headerRules;
  gap: 150px;
  flex-shrink: 0;
}
.container {
}
.header-container {
  @extend %headerRules;
}
.main-navigation {
  @extend %headerRules;
  align-items: center;
  gap: 150px;
}
.logo {
  color: $mainColor;

  font-family: $mainFonts;
  font-size: 38px;
  font-weight: 700;
}
.logo-pic {
  fill: $subColor;
  stroke: $subColor;
}
.nav-list {
  @extend %headerRules;
  gap: 20px;
  color: $mainColor;
  font-family: $mainFonts;
  font-size: 20px;
  font-weight: 700;
}
.nav-item {
  display: flex;
}
.menu-link {
}

.input-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 18px;
}
.search-btn {
  width: 376px;
  border-radius: 36px;
  background: #fafafa;
}
.search-pic {
  display: flex;
  align-items: start;
}
.cart {
  display: flex;
  align-items: center;
  border-radius: 36px;
  background: #fafafa;
  color: $mainColor;
  font-family: $mainFonts;
  font-size: 18px;
  font-weight: 600;
}
.cart-pic {
}
