.header {
  border-bottom: 1px solid #bfbfbf;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 14px;
}
.nav-list {
  display: none;
}
.top-line-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: #000;

  font-family: $mainFonts;
  font-size: 18px;
  font-weight: 800;
}
