.mobile-menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  padding-top: 30px;
  padding-bottom: 30px;

  background-color: #000;

  z-index: 10;

  body.is-modal-open & {
    opacity: 1;
    pointer-events: all;
  }
}
.hidden {
  opacity: 0;
  pointer-events: none;
}

.mob-top-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
.mob-menu-btns {
  stroke: #fff;
  stroke-width: 1px;
}
.logo-mob {
  color: #fff;
  font-family: $mainFonts;
  font-size: 18px;
  font-weight: 800;
}
.mobile-menu-nav {
  display: flex;
  flex-direction: column;
}
.mob-nav-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 60px;
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
}
.mob-menu-btns {
  display: flex;
  flex-direction: row;
  gap: 36px;
  justify-content: center;
  align-items: center;
}
.user-btn {
  @extend %btnStyle;
}
.cart-btn {
  @extend %btnStyle;
}
.features-icon {
  margin-left: 4px;
  width: 10px;
  height: 10px;
  fill: #fff;
}
.features {
  display: flex;
  align-items: center;
}
